<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-gray p-0">
    <div class="container py-6 px-3 px-sm-0 align-items-center">
      <a href="#">
        <img src="./assets/images/logo.svg" alt="" width="auto" height="42" class="d-none d-sm-block">
        <img src="./assets/images/logo2.svg" alt="" width="auto" height="24" class="d-sm-none">
      </a>
      <button class="navbar-toggler m-0 p-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="material-icons fs-6 text-primary">
          drag_handle
        </span>
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto d-flex gap-12">
          <li class="nav-item">
            <a class="nav-link active p-0 m-0" aria-current="page" href="#">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 m-0" href="#">課程介紹</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link p-0 m-0" href="#"><span class="material-icons">
                account_circle
              </span>登入</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%- contents %>

    <footer class="footer">
      <p class="font-monospace m-0">Coding Home © 2022 All Rights Reserved</p>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>